<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="RentBicycle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="RentBicycleEntities" connectionString="metadata=res://*/Model.DatabaseModel.csdl|res://*/Model.DatabaseModel.ssdl|res://*/Model.DatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FBQCESN;initial catalog=RentBicycle;user id=group1;password=group1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<userSettings>
		<RentBicycle.Properties.Settings>
			<setting name="Email" serializeAs="String">
				<value />
			</setting>
			<setting name="Password" serializeAs="String">
				<value />
			</setting>
			<setting name="Remmember" serializeAs="String">
				<value />
			</setting>
		</RentBicycle.Properties.Settings>
	</userSettings>
</configuration>